node-red.json
[{"id":"b18e945f.4e7168","type":"http in","z":"93a503e6.6c5b","name":"","url":"/check","method":"get","swaggerDoc":"","x":132,"y":233,"wires":[["c1ef3549.3e10c8"]]},{"id":"a7a294dd.585d68","type":"http response","z":"93a503e6.6c5b","name":"","x":552,"y":197,"wires":[]},{"id":"d112b41a.2eed48","type":"inject","z":"93a503e6.6c5b","name":"0","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":145,"y":81,"wires":[["94a3b2b1.6b5c5"]]},{"id":"955c7357.6aa39","type":"inject","z":"93a503e6.6c5b","name":"1","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":148,"y":132,"wires":[["94a3b2b1.6b5c5"]]},{"id":"94a3b2b1.6b5c5","type":"file","z":"93a503e6.6c5b","name":"","filename":"status.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":536,"y":112,"wires":[]},{"id":"c1ef3549.3e10c8","type":"file in","z":"93a503e6.6c5b","name":"","filename":"status.txt","format":"utf8","x":332,"y":230,"wires":[["a7a294dd.585d68"]]},{"id":"3d2d6213.c2d29e","type":"http in","z":"93a503e6.6c5b","name":"","url":"/reset","method":"get","swaggerDoc":"","x":166,"y":369,"wires":[["12477113.edb88f"]]},{"id":"12477113.edb88f","type":"function","z":"93a503e6.6c5b","name":"","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":375,"wires":[["86f230e9.790dd","35d1235c.ca2edc"]]},{"id":"86f230e9.790dd","type":"file","z":"93a503e6.6c5b","name":"","filename":"status.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":574,"y":366,"wires":[]},{"id":"35d1235c.ca2edc","type":"function","z":"93a503e6.6c5b","name":"","func":"msg.payload = \"success\";\nreturn msg;","outputs":1,"noerr":0,"x":534,"y":298,"wires":[["b084f5fb.4f7b08"]]},{"id":"b084f5fb.4f7b08","type":"http response","z":"93a503e6.6c5b","name":"","x":704,"y":304,"wires":[]}]
